@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: contain;
}

/* Smooth scrolling for masonry */
.masonry-grid {
  transition: height 0.4s ease-out;
}

.nanum-brush-script-regular {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 800;
  font-style: normal;
}
